In [0]:
import pandas as pd
import zipfile
from matplotlib import pyplot as plt
import numpy as np

In [2]:
from google.colab import drive  #importing file from local drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
title_basics = pd.read_csv(r'/content/drive/My Drive//title.basics.tsv.gz', sep = '\t')
title_basics.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

      tconst titleType  ... runtimeMinutes                    genres
0  tt0000001     short  ...              1         Documentary,Short
1  tt0000002     short  ...              5           Animation,Short
2  tt0000003     short  ...              4  Animation,Comedy,Romance
3  tt0000004     short  ...             12           Animation,Short
4  tt0000005     short  ...              1              Comedy,Short

[5 rows x 9 columns]

In [4]:
title_basics.titleType.unique() #to look for tvseries

array(['short', 'movie', 'tvMovie', 'tvSeries', 'tvEpisode', 'tvShort',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame'], dtype=object)

In [5]:
tv = title_basics.titleType.unique()[3:8] #keeping tv types
tv

array(['tvSeries', 'tvEpisode', 'tvShort', 'tvMiniSeries', 'tvSpecial'],
      dtype=object)

In [6]:
tv_series = title_basics[title_basics.titleType.isin(tv)] #extracted tv types
tv_series

            tconst  titleType  ... runtimeMinutes                   genres
34987    tt0035599   tvSeries  ...             15                       \N
35188    tt0035803   tvSeries  ...             12         Documentary,News
37617    tt0038276   tvSeries  ...             15                       \N
38451    tt0039120   tvSeries  ...             30         Family,Game-Show
38452    tt0039121   tvSeries  ...             30                   Family
...            ...        ...  ...            ...                      ...
6796787  tt9916846  tvEpisode  ...             \N      Action,Drama,Family
6796788  tt9916848  tvEpisode  ...             \N      Action,Drama,Family
6796789  tt9916850  tvEpisode  ...             \N      Action,Drama,Family
6796790  tt9916852  tvEpisode  ...             \N      Action,Drama,Family
6796792  tt9916880  tvEpisode  ...             10  Animation,Comedy,Family

[5096588 rows x 9 columns]

In [7]:
tv_series_rn = tv_series[['tconst','runtimeMinutes']] #keeping the reqd rows
tv_series_rn

            tconst runtimeMinutes
34987    tt0035599             15
35188    tt0035803             12
37617    tt0038276             15
38451    tt0039120             30
38452    tt0039121             30
...            ...            ...
6796787  tt9916846             \N
6796788  tt9916848             \N
6796789  tt9916850             \N
6796790  tt9916852             \N
6796792  tt9916880             10

[5096588 rows x 2 columns]

In [8]:
tv_series_rn = tv_series_rn.replace('\\N', np.nan) ## replacing \N
tv_series_rn = tv_series_rn.dropna() # dropping NaN
tv_series_rn = tv_series_rn.reset_index() 
tv_series_rn = tv_series_rn.drop('index', axis =1)
tv_series_rn

           tconst runtimeMinutes
0       tt0035599             15
1       tt0035803             12
2       tt0038276             15
3       tt0039120             30
4       tt0039121             30
...           ...            ...
877969  tt9916674             15
877970  tt9916688             10
877971  tt9916766             43
877972  tt9916840             11
877973  tt9916880             10

[877974 rows x 2 columns]

In [9]:
ratings_title = pd.read_csv(r'https://datasets.imdbws.com/title.ratings.tsv.gz', sep = '\t') #to get a relation of nconst and tconst
ratings_title.head()

      tconst  averageRating  numVotes
0  tt0000001            5.6      1613
1  tt0000002            6.0       197
2  tt0000003            6.5      1292
3  tt0000004            6.1       121
4  tt0000005            6.1      2067

In [10]:
#keeping only those having number of votes greater than 50
ratings_title = ratings_title[ratings_title.numVotes>=50]
ratings_title

            tconst  averageRating  numVotes
0        tt0000001            5.6      1613
1        tt0000002            6.0       197
2        tt0000003            6.5      1292
3        tt0000004            6.1       121
4        tt0000005            6.1      2067
...            ...            ...       ...
1041173  tt9915912            7.3        71
1041182  tt9916200            8.4       153
1041183  tt9916204            8.2       177
1041188  tt9916380            9.1       101
1041195  tt9916720            5.7        51

[329059 rows x 3 columns]

In [11]:
ratings_title = ratings_title.drop('numVotes', axis = 1)
ratings_title

            tconst  averageRating
0        tt0000001            5.6
1        tt0000002            6.0
2        tt0000003            6.5
3        tt0000004            6.1
4        tt0000005            6.1
...            ...            ...
1041173  tt9915912            7.3
1041182  tt9916200            8.4
1041183  tt9916204            8.2
1041188  tt9916380            9.1
1041195  tt9916720            5.7

[329059 rows x 2 columns]

In [12]:
tv_dur_rat = tv_series_rn.merge(ratings_title, how = 'inner', on = 'tconst')
tv_dur_rat

           tconst runtimeMinutes  averageRating
0       tt0039123             60            8.5
1       tt0040021             30            7.2
2       tt0040034             30            7.1
3       tt0040041             60            7.7
4       tt0040048             60            7.5
...           ...            ...            ...
135163  tt9913328             24            8.9
135164  tt9914546             30            4.2
135165  tt9916200             43            8.4
135166  tt9916204             42            8.2
135167  tt9916380             43            9.1

[135168 rows x 3 columns]

In [13]:
#assuming good serials to be greater than average rating and hust keeping them
tv_dur_rat_top = tv_dur_rat[tv_dur_rat.averageRating>=tv_dur_rat.averageRating.mean()]
tv_dur_rat_top = tv_dur_rat_top.reset_index()
tv_dur_rat_top = tv_dur_rat_top.drop('index', axis=1)
tv_dur_rat_top

          tconst runtimeMinutes  averageRating
0      tt0039123             60            8.5
1      tt0040041             60            7.7
2      tt0040049             60            8.1
3      tt0040051             60            7.8
4      tt0040053             60            7.8
...          ...            ...            ...
76504  tt9913324             24            8.0
76505  tt9913328             24            8.9
76506  tt9916200             43            8.4
76507  tt9916204             42            8.2
76508  tt9916380             43            9.1

[76509 rows x 3 columns]

In [14]:
tv_dur_rat_top.dtypes #to see type, to find average

tconst             object
runtimeMinutes     object
averageRating     float64
dtype: object

In [15]:
tv_dur_rat_top.runtimeMinutes.unique() #to check if all runtime are numbers

array(['60', '30', '25', '90', '55', '120', '20', '51', '73', '105', '24',
       '50', '400', '75', '129', '45', '327', '82', '40', '48', '49',
       '63', '80', '26', '79', '85', '360', '97', '74', '378', '22',
       '316', '52', '109', '100', '35', '59', '28', '93', '540', '168',
       '76', '95', '96', '476', '250', '83', '225', '180', '321', '84',
       '268', '230', '300', '240', '3', '69', '890', '70', '43', '161',
       '283', '212', '15', '350', '390', '98', '91', '99', '77', '220',
       '192', '370', '92', '47', '669', '770', '203', '119', '198', '305',
       '500', '382', '588', '750', '102', '175', '333', '614', '1256',
       '780', '475', '271', '274', '67', '205', '108', '87', '278', '366',
       '840', '275', '72', '931', '676', '54', '547', '290', '673', '115',
       '46', '293', '152', '206', '394', '301', '154', '53', '659', '504',
       '410', '130', '520', '56', '195', '200', '239', '282', '385',
       '720', '460', '197', '883', '151', '110', '320', '330', '313',
       '480', '65', '778', '402', '272', '88', '181', '924', '153', '94',
       '165', '176', '396', '561', '428', '190', '107', '455', '199',
       '285', '156', '37', '171', '307', '304', '163', '420', '570',
       '569', '371', '415', '42', '104', '146', '312', '572', '23', '407',
       '310', '44', '113', '86', '340', '201', '355', '353', '148', '36',
       '57', '58', '270', '11', '384', '1290', '315', '1620', '213',
       '318', '103', '159', '178', '680', '29', '226', '229', '207',
       '112', '567', '606', '140', '61', '21', '150', '34', '66', '1140',
       '522', '306', '255', '19', '218', '118', '5', '106', '145', '374',
       '600', '515', '27', '185', '624', '125', '160', '348', '211',
       '528', '623', '537', '114', '62', '173', '89', '10', '568', '18',
       '12', '650', '292', '287', '135', '698', '170', '377', '7', '672',
       '8', '702', '660', '2', '296', '1352', '294', '395', '373', '124',
       '6', '273', '344', '217', '13', '127', '1120', '39', '616', '489',
       '182', '9', '164', '123', '627', '71', '41', '32', '594', '116',
       '38', '117', '78', '417', '202', '121', '64', '577', '386', '376',
       '323', '155', '491', '297', '81', '132', '158', '68', '172', '238',
       '435', '276', '960', '166', '277', '392', '663', '693', '177',
       '216', '16', '622', '281', '280', '139', '877', '17', '219', '389',
       '4', '640', '147', '372', '223', '186', '689', '446', '179', '183',
       '352', '204', '101', '314', '162', '208', '210', '1084', '133',
       '550', '701', '359', '530', '31', '738', '169', '354', '629',
       '149', '188', '552', '450', '33', '235', '189', '174', '157',
       '510', '138', '233', '122', '184', '1040', '325', '334', '111',
       '14', '128', '1932', '538', '434', '1170', '564', '900', '519',
       '469', '224', '196', '257', '232', '193', '142', '143', '137',
       '231', '187', '215', '375', '331', '516', '584', '573', '479',
       '228', '141', '144', '245', '337', '358', '418', '336', '265',
       '131', '473', '397', '356', '269', '853', '990', '1210', '236',
       '295', '167', '1', '557', '525', '421', '234', '795', '260', '546',
       '379', '279', '438', '343', '136', '191', '221', '298', '492',
       '364', '436', '440', '3825', '1532', '430', '403', '463', '409',
       '254', '222', '347'], dtype=object)

In [0]:
#tv_dur_rat_top.set_index('runtimeMinutes').index.get_loc('Reality-TV') #to find the index of the string

145829

In [0]:
#tv_dur_rat_top.runtimeMinutes[145829] = 0 # removing string

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [0]:
tv_dur_rat_top.runtimeMinutes = tv_dur_rat_top.runtimeMinutes.astype('int32') #converting runtimes to integer

In [17]:
tv_dur_rat_top.runtimeMinutes.mean() # finally getting average

43.024075598949146